a
{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
	text-decoration: none;
	font-family: courier;
	font-size: 12px;
}

a:visited
{
	color: blue;
}

body
{
	width: 100%;
	background-image: url('./wallhaven_random.php');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	overflow-x: hidden;
}

header
{
	background: rgba(255, 255, 255, 0.85);
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.timeline
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: courier;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.1);
}

.timeline ul
{
	width: 90%;
	list-style-type: none;
}

.left
{
	float: left;
	text-align: left;
}

.right
{
	float: right;
	text-align: right;
}

.alone_rbox
{
    border-radius: 25px;
    border: 1px solid #8AC007;
    padding: 7px;
	margin-top: 5px;
	width: auto;
	display: inline-block;
	background: rgba(255, 255, 255, 0.8);
}

.inlineForm
{
	display: inline;
}

.timeline .inlineButton
{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
	font-size: 11px;
}

.timeline .rbox
{
    border-radius: 15px;
    border: 1px solid #8AC007;
    padding: 5px;
	margin-top: 5px;
	width: auto;
	display: block;
	background: rgba(255, 255, 255, 0.8);
}

.timeline .rbox_highlight
{
    border-radius: 15px;
    border: 1px solid #FF0000;
    padding: 5px;
	margin-top: 5px;
	width: auto;
	display: block;
	background: rgba(255, 255, 255, 0.8);
}

.timeline .rbox .message
{
	text-align: left;
	display: block;
}

.newPostButton
{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
	font-family: courier;
	font-size: 12px;
}

.admin .rbox
{
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 15px;
	width: auto;
	display: inline-block;
	background: rgba(255, 255, 255, 0.8);
}

.admin tr
{
	font-family: courier;
	font-size: 12px;
}

.admin td
{
	word-wrap: break-word;
	max-width: 420px;
}

.admin .inlineButton
{
	border: none;
	cursor: pointer;
}

.user .rbox
{
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 15px;
	width: auto;
	display: inline-block;
	background: rgba(255, 255, 255, 0.8);
}

.user .inlineButton
{
	margin-top: 10px;
	border: none;
	cursor: pointer;
}

.user tr
{
	font-family: courier;
	font-size: 12px;
}

