.timeline
{
	background-color: whitesmoke;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: courier;
	font-size: 12px;
}

.timeline ul
{
	width: 90%; /*this is just a basic idea*/
	list-style-type: none;
}

.timeline .commentButton
{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
	font-size: 11px;
}

.newPostButton
{
	background-color: transparent;
	border: none;
	color: blue;
	cursor: pointer;
}